{{>layout/header}}

    <div class="row">
        <div class="col">
            <h5 class="text-primary"> <span class="material-icons text-danger">star</span> 부트스트랩 + 스프링부트</h5>
        </div>
    </div>
    include test

{{>layout/footer}}