{{>layout/header}}

    <div class="row">
        <div class="col">
            <h5 class="text-primary"> <span class="material-icons text-danger">star</span> 부트스트랩 + 스프링부트</h5>
        </div>
    </div>

    <!--
        C001 글쓰기 버튼
     -->
    <div class="row">
        <div class="col colLine">
            <button type="button" class="btn btn-primary btn-sm" onClick="location.href='/posts/save'">
                <span class="material-icons">edit</span>
                글쓰기
            </button>
        </div>
        <div class="col colLine text-end text-danger">
            <!--
                D013 로그인/로그아웃 영역 미리 작성
             -->
            {{#userName}}
                <button type="button" class="btn btn-success btn-sm" onclick="location.href='/logout'">{{userName}} 로그아웃</button>
            {{/userName}}
            {{^userName}}
                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/oauth2/authorization/google'">구글로그인</button>
            {{/userName}}
        </div>
    </div>

    <div class="row">
        <div class="col-1 colLine text-center">번호</div>
        <div class="col-6 colLine text-center">제목</div>
        <div class="col-2 colLine text-center">작성일</div>
        <div class="col-2 colLine text-center">수정일</div>
        <!-- D010 화면에 hit를 출력 -->
        <div class="col-1 colLine text-center">읽음</div>
    </div>

    <!--
        C012 제목에 링크 달아서 글 내용보기 만들기
        < : &lt;
        > : &gt;

        GetMapping이 왔을 때, 이를 처리할 IndexController에 /posts/show/1
     -->
    {{#posts}}
        <div class="row">
            <div class="col-1 colLine text-center">{{id}}</div>
            <div class="col-6 colLine ellipsis"><a href="/posts/show/{{id}}">{{title}}</a></div>
            <div class="col-2 colLine text-center">{{author}}</div>
            <div class="col-2 colLine text-center">{{modifiedDate}}</div>
            <!-- D010 화면에 hit를 출력 -->
            <div class="col-1 colLine text-center">{{hit}}</div>
        </div>
    {{/posts}}

    {{! Pagination }}
    <div class="row">
        <div class="col colLine text-center">
            {{#hasPrev}}
                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='?page={{prev}}'">이전</button>
            {{/hasPrev}}
            {{^hasPrev}}
                <button type="button" class="btn btn-secondary btn-sm" disabled>이전</button>
            {{/hasPrev}}

            {{#hasNext}}
                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='?page={{next}}'">다음</button>
            {{/hasNext}}
            {{^hasNext}}
                <button type="button" class="btn btn-secondary btn-sm" disabled>다음</button>
            {{/hasNext}}
        </div>
    </div>


{{>layout/footer}}